In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import StructField , StringType , IntegerType , StructType

In [10]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('people.json',schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:
type(df['age'])

pyspark.sql.column.Column

In [17]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [19]:
df.withColumn('newcol',df['age']*4).show()

+----+-------+------+
| age|   name|newcol|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|   120|
|  19| Justin|    76|
+----+-------+------+

In [21]:
df.withColumnRenamed('age','MyAge').show()

+-----+-------+
|MyAge|   name|
+-----+-------+
| null|Michael|
|   30|   Andy|
|   19| Justin|
+-----+-------+

## SQL Query

In [22]:
df.createOrReplaceTempView('people')

In [23]:
df

DataFrame[age: int, name: string]

In [24]:
result = spark.sql("SELECT * FROM people")

In [26]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
result_1 = spark.sql("SELECT * FROM people WHERE age=30")

In [29]:
result_1.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+