In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Date').getOrCreate()

In [3]:
df = spark.read.csv('appl_stock.csv',header=True,inferSchema=True)

In [4]:
df

DataFrame[Date: timestamp, Open: double, High: double, Low: double, Close: double, Volume: int, Adj Close: double]

In [5]:
df.head(1)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)]

In [6]:
df.select(['Date']).show()

+-------------------+
|               Date|
+-------------------+
|2010-01-04 00:00:00|
|2010-01-05 00:00:00|
|2010-01-06 00:00:00|
|2010-01-07 00:00:00|
|2010-01-08 00:00:00|
|2010-01-11 00:00:00|
|2010-01-12 00:00:00|
|2010-01-13 00:00:00|
|2010-01-14 00:00:00|
|2010-01-15 00:00:00|
|2010-01-19 00:00:00|
|2010-01-20 00:00:00|
|2010-01-21 00:00:00|
|2010-01-22 00:00:00|
|2010-01-25 00:00:00|
|2010-01-26 00:00:00|
|2010-01-27 00:00:00|
|2010-01-28 00:00:00|
|2010-01-29 00:00:00|
|2010-02-01 00:00:00|
+-------------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import (dayofmonth , hour ,
                                   dayofyear,month,
                                   year,weekofyear,
                                  format_number,date_format)

In [8]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [9]:
df.select(hour(df['Date'])).show()

+----------+
|hour(Date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 20 rows

In [10]:
df.select(month(df['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [11]:
df.select(weekofyear(df['Date'])).show()

+----------------+
|weekofyear(Date)|
+----------------+
|               1|
|               1|
|               1|
|               1|
|               1|
|               2|
|               2|
|               2|
|               2|
|               2|
|               3|
|               3|
|               3|
|               3|
|               4|
|               4|
|               4|
|               4|
|               4|
|               5|
+----------------+
only showing top 20 rows

In [12]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [13]:
df_new = df.withColumn("Year",year(df['Date']))

In [14]:
df_new.select(['Date','Year']).show()

+-------------------+----+
|               Date|Year|
+-------------------+----+
|2010-01-04 00:00:00|2010|
|2010-01-05 00:00:00|2010|
|2010-01-06 00:00:00|2010|
|2010-01-07 00:00:00|2010|
|2010-01-08 00:00:00|2010|
|2010-01-11 00:00:00|2010|
|2010-01-12 00:00:00|2010|
|2010-01-13 00:00:00|2010|
|2010-01-14 00:00:00|2010|
|2010-01-15 00:00:00|2010|
|2010-01-19 00:00:00|2010|
|2010-01-20 00:00:00|2010|
|2010-01-21 00:00:00|2010|
|2010-01-22 00:00:00|2010|
|2010-01-25 00:00:00|2010|
|2010-01-26 00:00:00|2010|
|2010-01-27 00:00:00|2010|
|2010-01-28 00:00:00|2010|
|2010-01-29 00:00:00|2010|
|2010-02-01 00:00:00|2010|
+-------------------+----+
only showing top 20 rows

In [15]:
df_new.groupBy("Year").mean()

DataFrame[Year: int, avg(Open): double, avg(High): double, avg(Low): double, avg(Close): double, avg(Volume): double, avg(Adj Close): double, avg(Year): double]

In [16]:
df_new.groupBy("Year").mean().show()

+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+
|Year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|         avg(Volume)|    avg(Adj Close)|avg(Year)|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+
|2015|120.17575393253965|121.24452385714291| 118.8630954325397|120.03999980555547|  5.18378869047619E7|115.96740080555561|   2015.0|
|2013| 473.1281355634922| 477.6389272301587|468.24710264682557| 472.6348802857143|          1.016087E8| 62.61798788492063|   2013.0|
|2014| 295.1426195357143|297.56103184523823| 292.9949599801587| 295.4023416507935| 6.315273055555555E7| 87.63583323809523|   2014.0|
|2012|     576.652720788| 581.8254008040001| 569.9211606079999| 576.0497195640002|       1.319642044E8| 74.81383696800002|   2012.0|
|2016|104.50777772619044| 105.4271825436508|103.69027771825397|104.60400786904763|  3.84153623015873E7|103.15032854761901|   2016.0|
|2010| 259.9576190992064|262.36880881349214|256.84761791269847| 259.8424600000002|1.4982631666666666E8|33.665072424603196|   2010.0|
|2011|364.06142773412705| 367.4235704880951|360.29769878174613|364.00432532142867|1.2307474166666667E8| 47.16023692063492|   2011.0|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+---------+

In [17]:
result = df_new.groupBy("Year").mean().select(["Year","avg(Close)"])

In [18]:
result.show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2012| 576.0497195640002|
|2016|104.60400786904763|
|2010| 259.8424600000002|
|2011|364.00432532142867|
+----+------------------+

In [19]:
new_result = result.withColumnRenamed('avg(Close)','Avrage Closing')

In [20]:
new_result.select(['Year',format_number('Avrage Closing',2).alias('Avg Col')]).show()

+----+-------+
|Year|Avg Col|
+----+-------+
|2015| 120.04|
|2013| 472.63|
|2014| 295.40|
|2012| 576.05|
|2016| 104.60|
|2010| 259.84|
|2011| 364.00|
+----+-------+